// MIXINS

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin transition($transition-property) {

    -webkit-transition: $transition-property;
    -moz-transition: $transition-property;
    -ms-transition: $transition-property;
    -o-transition: $transition-property;
    transition: $transition-property;
}

@mixin animation($name) {
  -o-animation: $name;
  -moz-animation: $name;
  -webkit-animation: $name;
  animation: $name;
}
@mixin animation-delay($delaytime){
	animation-delay: $delaytime;
	-o-animation-delay: $delaytime;
  	-moz-animation-delay: $delaytime;
	-webkit-animation-delay: $delaytime;
}
@mixin animation-direction($name) {
  -o-animation-direction: $name;
  -moz-animation-direction: $name;
  -webkit-animation-direction: $name;
  animation-direction: $name;
}
// ANIMATIONS
.menushow {
	@include animation(menuAnimation 0.5s);
	@include keyframes(menuAnimation){
		0%   {right: -40%;}
	    100% {right: 0;}
	}
	-webkit-animation-fill-mode: forwards; 
}
.menuhide {
	@include animation(menuReanimation 0.5s);
	@include keyframes(menuReanimation){
		100% {right: -40%;}
	    0%   {right: 0;}
	}
	-webkit-animation-fill-mode: forwards;
}
.slideleft {
	@include animation(slideleft 0.5s);
	@include keyframes(slideleft){
		0%   {left: 0;}
		100% {left: -40%;}
	}
	-webkit-animation-fill-mode: forwards; 
}
.slideright {
	@include animation(increaseWrapper 0.5s);
	@include keyframes(increaseWrapper){
		100% {left: 0;}
		  0% {left: -40%;}
	}
	-webkit-animation-fill-mode: forwards; 
}

.bannerslide {
	position:relative;
	@include animation(bannerslide 25s infinite);
	@include keyframes(bannerslide){
			100%  {left: 0;}
			98%   {left: -67%;}
			67%   {left: -67%;}
			64%   {left: -33.3334%;}
			33%   {left: -33.3334%;}
			30%   {left: 0%;}
		    0%    {left: 0%;}
	}
	-webkit-animation-fill-mode: forwards;
}
// INDEX PAGE STYLES //

body {
	background-color: #000;
}

body, div, ul, li, h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
	padding: 0;
	font-family: Proxima Nova,Helvetica,Arial,sans-serif;
	text-decoration: none;
}
.floatleft {
	float: left;
}

.floatright {
	float: right;
}

#view {
	max-width: 2220px;
	width: 100%;
	height: 100vh;
	margin: auto;
	background-color: #ffffff;
	overflow: auto;
}

.navbarleft {
	width: 240px;
	background-color: #000;
	position: fixed;
    height: 100vh;
    z-index: 10;
}
#navlinks {
    font-size: 95%;
   	color: #999999;
	list-style: none;
	font-weight: lighter;
	margin: 120px 25% 0 25%;
	li {
		margin-bottom: 20px;
	}
	a:hover {
		color: #f652ff;
		cursor: pointer;
	}
	#aboutlink {
		margin-top: 50px;
	}
}

#logo {
	margin: 30px 0 0 40px;
	position: absolute;
	z-index: 100;
	img {
		 max-width: 50%;
	}
}

#menuicon {
	display: none;
}

#wrapper {
	max-width: 100%;
	position: relative;
	margin-left: 240px;
	max-height: 100vh;
	overflow: auto; 
}

#bannerwrapper {
	overflow: hidden;
}

#banner {
	//width: 100%;
	//max-width: 100%;
	margin: 0 0 1% 0;
	overflow: hidden;
	//max-height: 600px;

	img {
		width: 100%;
	}
}

#linkwrapper {
	margin: 0 auto;
}

.photolinks {
	max-width: 50%;

	img {
		width: 100%;
	}
}

#menucloseicon {
	display: none;
}

// APPRAEL PAGE STYLES //

.innerwrap {
	margin: 50px 0 0 0;
	color: #999999;	
}

#column2 {
	@include transition(left 0.5s);
}

.rightcolumn {
	width: 50%;
	position: fixed;
	left: 50%;
	padding-left: 200px;
	ol {
		list-style-type: disc;
		li {
			margin-bottom: 10px;
		}
	}
	.appareltitle {
		margin: 50px 0 35px 0;
		color: #28d2b3;
	}
	select, h5, .apparelprice {
		margin-bottom: 35px;
		font-size: 20px;
	}
	.tagline {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.button {
		background-color: #28d2b3;
		width: 150px;
		height: 50px;
		clear: both;
		margin: 35px 0 0 0;
		text-align: center;
		line-height: 55px;
		color: #fff;
	}
}
.leftcolumn {
	width: 50%;
	overflow: auto;
	img {
		max-width: 100%;
	}
}
// PAGE BREAK 1 //

@media screen and (max-width: 1100px){
	
	#navheader {
		width: 100%;
		height: 80px;
		z-index: 3;
		background-color: #000;
		position: fixed;
	}
	#logo {
	margin: 14px 0 0 20px;
	}
	#navlinks{
		display: none;
		margin-top: 90px;
	}
	#menuicon {
		display: inline;

		img {
			margin: 23px 23px 0 0;
		}
	}
	#menucloseicon {
		margin: 23px 20px 0 0;
		right: 0px;
		display: inline;
		position: absolute;
	}
	.menu {
		width: 40%;
		background-color: #000;
		height: 100vh;
		position: absolute;
		z-index: 55;
		right: 9999px;
	}
	#wrapper {
		width: 100%;
		left: 0;
		top: 80px;
		margin: 0;
	}
	#banner img {
		max-width: 100%;
	}
	// APPRAEL PAGE STYLES (PAGE BREAK 1) //

	.rightcolumn {
		padding-left: 30px;

		.tagline, select, h5, .apparelprice {
			font-size: 15px;
		}
	}
	.innerwrap {
	margin: 90px 0 0 0;
	}
}
// PAGE BREAK 2 //

@media screen and (max-width: 580px){

	#wrapper {
		top: 56px;
	}
	#navheader {
		height: 56px;
	}
	#menuicon {
		img {
			margin: 14px 14px 0 0;
		}
	}
	#logo {
		margin: 8px 0 0 4px;
		img {
			 max-width: 40%;
		}
	}
	.menu {
		width: 70%;
		// wrapper resize to 60% is in js code in showHideMenu function.
	}
	.hide {
		@include animation(menuReanimation 0.5s);
		@include keyframes(menuReanimation){
			100% {right: -70%;}
		    0%   {right: 0;}
		}
		-webkit-animation-fill-mode: forwards;
	}
	.slideleft {
		@include animation(slideleft 0.5s);
		@include keyframes(slideleft){
			0%   {left: 0;}
			100% {left: -70%;}
		}
		-webkit-animation-fill-mode: forwards;
	}
// APPRAEL PAGE STYLES (PAGE BREAK 2) //

	.rightcolumn {
		position: absolute;
		padding-left: 10px;
		ol li {
			font-size: 12px;
		}
		.appareltitle {
		margin: 15px 0 15px 0;
		}
		.apparelprice {
			margin-bottom: 15px;
		}
		select, h5, .apparelprice {
		margin-bottom: 15px;
		font-size: 12px;
		}
	}
	.innerwrap {
	margin: 10px 0 0 0;
	}
}














